/* Container for reviews with scrollbar */
.review-list-container {
    max-height: 500px; /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Optional: Add padding around the reviews */
    border: 1px solid #ccc; /* Optional: Add border for visual separation */
    border-radius: 10px; /* Optional: Match the styling of other elements */
  }
  
  /* Existing styles */
  .star-color-rating {
    color: gold;
  }
  
  .star-color-fail {
    color: #e4e5e9;
  }
  
  .All {
    border-radius: 10px;
    border-color: white;
    color: white;
    cursor: pointer;
    margin-left: 40px;
    width: 300px;
    height: 100px;
    font-size: 32px;
    background-color: coral;
  }
  
  .Golnag {
    border-radius: 10px;
    border-color: white;
    color: white;
    cursor: pointer;
    margin-left: 40px;
    width: 300px;
    height: 100px;
    font-size: 32px;
    background-color: darkturquoise;
  }
  
  .React {
    border-radius: 10px;
    border-color: white;
    color: white;
    cursor: pointer;
    margin-left: 40px;
    width: 300px;
    height: 100px;
    font-size: 32px;
    background-color: midnightblue;
  }
  
  .highlighted-text {
    font-weight: bold;
    font-size: 20px; /* Increased font size for highlighted text */
  }
  
  /* Existing styles */
  .review-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .review-profile-img {
    border-radius: 50%;
    margin-right: 15px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .reviews-comment-text {
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .reviews-comment-text p {
    margin: 5px 0;
  }
  